.cuadrado-negro {
    height: 88px;
    width: 290px;
    background-color: rgb(15, 15, 15);
    position: absolute;
}

.buscar {
    height: 33px;
    width: 235px;
    border-radius: 25px;
    background-color: rgb(90, 88, 89);
    position: absolute;
    top: 32px;
    left: 25px;

}

.redondo-x {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(175, 16, 90);
    position: absolute;
    top: 22px;
    left: 220px;

}

.letra-x {

    position: absolute;
    top: -20px;
    left: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.palabra-buscar {
    font-family: Arial, Helvetica, sans-serif;
    top: 34px;
    left: 37px;
    position: absolute;
    color: rgb(163, 162, 160);
    font-size: 12px;
}